@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', monospace;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2e2e2e;
    background-image: url("https://source.unsplash.com/1920x1080x/?landscape");
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-card {
    left: 50%;
    background: linear-gradient(#202020b9, #292929a6, #363636a2);
    color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    max-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 #000000;
}

.city {
    padding: 5px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    margin-right: 0.5em;
    font-size: 1em;
    font-family: 'Lexend', monospace;
    color: #ffffff;
    background: #cccccc2b;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #cccccc2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.description {
    text-transform: capitalize;
}

.weather.loading {
    visibility: hidden;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
}

.date {
    font-size: 15px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 20px;
    max-height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    bottom: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
    font-size: 70%;
    color: #ffffff;
    background: #222222e1;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:hover {
    color: #b9d5ff;
    transition: 0.5s;
}
